:root {
  --color-artistPillShadow-lightMode: rgba(255, 255, 255, 0.24);
  --color-backgroundOverlay-lightMode: rgba(0, 0, 0, 0.3);
  --color-backgroundOverlayDark-darkMode: rgba(0, 0, 0, 0.85);
  --color-brightPurple-lightMode: #8458ff;
  --color-cardBackground-lightMode: #fff;
  --color-clickableAreaBackground-lightMode: rgba(255, 255, 255, 0.28);
  --color-darkCerulean-lightMode: #004084;
  --color-darkPurple-lightMode: #3128a4;
  --color-dimmer-lightMode: rgba(0, 0, 0, 0.36);
  --color-error-lightMode: #ff7777;
  --color-floatingElement-lightMode: #fff;
  --color-footer-lightMode: linear-gradient(
    91.96deg,
    #4e48f2 17.52%,
    #8458ff 91.27%
  );
  --color-green-lightMode: #13bc68;
  --color-ghost-lightMode: #c6c6c6;
  --color-lightBlue-lightMode: #eaffff;
  --color-lightPink-lightMode: #ffdcdc;
  --color-lightPurple-lightMode: #d4d2ff;
  --color-lightPurpleHover-lightMode: #d8d6ff;
  --color-linkWater-lightMode: #caddd0;
  --color-menuPopup-lightMode: #fff;
  --color-navy-lightMode: #1d1989;
  --color-navyHover-lightMode: #080561;
  --color-overlayButton-lightMode: rgba(0, 0, 0, 0.58);
  --color-pink-lightMode: #ffc8c8;
  --color-primary-lightMode: #201f2a;
  --color-progressBar-lightMode: #eeedf4;
  --color-purple-lightMode: #3530bf;
  --color-purpleGradientHover-lightMode: #513ccf;
  --color-red-lightMode: #fd4646;
  --color-redHover-lightMode: #dd1111;
  --color-secondary-lightMode: #9796a5;
  --color-shader-lightMode: #f5f4fe;
  --color-skeletonBase-lightMode: #ebebeb;
  --color-skeletonHighlight-lightMode: #f5f5f5;
  --color-spotlightOverlay-lightMode: rgba(255, 255, 255, 0.8);
  --color-tertiary-lightMode: #dedde5;
  --color-transparent-lightMode: transparent;
  --color-websiteBackground-lightMode: #fff;
  --color-white-lightMode: #fff;
  --color-yellow-lightMode: #ffbb37;

  --color-phantomPurple-lightMode: #6c57eb;

  --color-blueGradient-lightMode: linear-gradient(
    112.27deg,
    #d8e0eb -3.54%,
    #f2f7ff 93.45%
  );
  --color-greenGradient-lightMode: linear-gradient(
    91.96deg,
    #55d779 17.52%,
    #1cd592 91.27%
  );
  --color-lightPurpleGradient-lightMode: linear-gradient(
    90deg,
    #f5e6ff 0%,
    #dfdcff 100%
  );
  --color-lightPurpleVerticalGradient-lightMode: linear-gradient(
    180deg,
    #e6e8ff 0%,
    #efe6ff 100%
  );
  --color-pinkVerticalGradient-lightMode: linear-gradient(
    180deg,
    #ffe6f8 0%,
    #ffeded 100%
  );
  --color-purpleGradient-lightMode: linear-gradient(
    91.96deg,
    #4e48f2 17.52%,
    #8458ff 91.27%
  );
  --color-purpleGradientForText-lightMode: linear-gradient(
    91.96deg,
    #4e48f2 17.52%,
    #8458ff 91.27%
  );
  --color-redGradient-lightMode: linear-gradient(
    91.96deg,
    #f34972 17.52%,
    #ff3838 91.27%
  );

  /* Color schemes for creator stories */

  --color-scheme11-lightMode: #ccd2fd;
  --color-scheme12-lightMode: #2522b4;

  --color-scheme21-lightMode: #c0dcff;
  --color-scheme22-lightMode: #e14c2d;

  --color-scheme31-lightMode: #2c6955;
  --color-scheme32-lightMode: #f7ce4b;

  --color-scheme41-lightMode: #37575c;
  --color-scheme42-lightMode: #a4bae3;

  --color-scheme51-lightMode: #ffcbce;
  --color-scheme52-lightMode: #e85047;

  --color-scheme61-lightMode: #e7fded;
  --color-scheme62-lightMode: #18406b;

  /* Colors for campaigns */
  --color-brightGray-lightMode: #edeef6;
  --color-mediumBlue-lightMode: #1410d1;

  --color-aliceBlue-lightMode: #eaf3ff;
  --color-sinopia-lightMode: #d72500;

  --color-cultured-lightMode: #f5f4f1;
  --color-cadmiumGreen-lightMode: #006b45;

  --color-seashell-lightMode: #fff1ea;
  --color-maximumRed-lightMode: #d81b1b;

  --color-greenishGray-lightMode: #eaf6ee;
  --color-midnightBlue-lightMode: #003f84;

  --color-antiFlashWhite-lightMode: #f1f1f1;
  /* Note: same as primary */
  --color-darkGunmetal-lightMode: #201f2a;
}
